{% extends 'home/base.html' %}

{% block title %}
    Ingenieros : Detalle de ingeniero
{% endblock title %}

{% block body_title %}
    Ingenieros
{% endblock body_title %}
{% block body_subtitle %}
    Detalle de Ingeniero
{% endblock body_subtitle %}

{% block content %}
<ul>
    <li>
        <p>Nombre: {{ingeniero.apellido}} {{ingeniero.nombre}}</p>
    </li>
    <li>
        <p>Edad: {{ingeniero.edad}}</p> 
    </li>
</ul>

<a href="{% url 'empleados:seccion_list' %}"><p> - Volver</p></a>
<a href="{% url 'home:home_index' %}"><p> - Ir a Inicio</p></a>
{% endblock content %}