{% extends 'home/base.html' %}

{% block title %}
    Secciones : Listado de Secciones
{% endblock title %}

{% block body_title %}
    Secciones
{% endblock body_title %}
{% block body_subtitle %}
    Listado de Secciones
{% endblock body_subtitle %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-lg-6">
            <form action="{% url 'empleados:seccion_list' %}"
                  method="get"
                  class="input-group">
                <input type="text"
                       name="busqueda"
                       class="form-control"
                       placeholder="Buscar...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
<ul>
    {% for seccion in secciones %}
    <li>
        <h5>{{seccion.nombre}}:</h5>
        <ul>
            <li>
                <p>Ingeniero: <a href="{% url 'empleados:ingeniero_detail' seccion.ingeniero.id%}">{{seccion.ingeniero}}</a></p>
            </li>
            <li>
                <p>Obrero: <a href="{% url 'empleados:obrero_detail' seccion.obrero.id%}">{{seccion.obrero}}</a></p>
            </li>
        </ul>
    </li>
    <a href="{% url 'empleados:seccion_delete' seccion.id %}"><p> Eliminar seccion</p></a>
    <a href="{% url 'empleados:seccion_update' seccion.id %}"><p> Modificar seccion</p></a>
    {% endfor %}
</ul>

<a href="{% url 'empleados:seccion_create' %}"><p> - Crear nueva Seccion</p></a>
<a href="{% url 'home:home_index' %}"><p> - Ir a Inicio</p></a>
{% endblock content %}