{% extends 'home/base.html' %}

{% block title %}
    Secciones : Eliminar Seccion
{% endblock title %}

{% block body_title %}
    Secciones
{% endblock body_title %}
{% block body_subtitle %}
    Eliminar Seccion
{% endblock body_subtitle %}

{% block content %}

<p class="fs-5  fst-italic ">¿Confirma eliminar "{{ object.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'empleados:seccion_list' %}">Volver a Secciones</a>

{% endblock content %}