{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block body_title %}
    WEB de Gestion de datos sobre empleados
{% endblock body_title %}

{% block content %}
<ul>
    <h3>
        <a href= "{% url 'empleados:seccion_list' %}"> - Acceder a secciones.</a>
    </h3>
</ul>
<ul>
    <h3>
        <a href= ""> - Acceder a Ingenieros en Jefe.</a>
    </h3>
</ul>
<ul>
    <h3>
        <a href= ""> - Acceder a Obreros.</a>
    </h3>
</ul>
{% endblock content %}