<!DOCTYPE html>
<html lang="en">
    <head>
        <meta keywords="">
        <meta description="">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <section class="py-5">
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2>Full Width Backgrounds</h2>
                            <p class="lead">
                                A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.
                            </p>
                            <p class="mb-0">
                                The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock content %}
    </body>
</html>
